*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
}

.startdiv {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    text-shadow: 0 0 3px #f1f1f1;
    top: 0;
    left: 0;
    cursor: pointer;
}

.left-btn {
    position: absolute;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 100%;
    width: 30px;
    color: rgb(191, 191, 191);
    cursor: pointer;  
    display: none;
}

.left-btn:hover {
    background-color: rgba(0, 0, 0, 0.107);
}

.right-btn {
    display: none;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 100%;
    width: 30px;
    color: rgb(191, 191, 191);
    cursor: pointer;  
}

.right-btn:hover {
    background-color: rgba(0, 0, 0, 0.107);
}


.storyboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.firstBox {
    transition: opacity 2s ease-in;
    background-color: yellow;
}

.secondBox {
    transition: opacity 2s ease-in;
    background-color: blue;
}

.thirdBox {
    transition: opacity 2s ease-in;
    background-color: red;
}

.fourthBox {
    transition: opacity 2s ease-in;
    background-color: white;
}

.fifthBox {
    transition: opacity 2s ease-in;
    background-color: green;
}

.sixthBox {
    transition: opacity 2s ease-in;
    background-color: rgb(189, 16, 114);
}

.button-div {
    display: none;
}

button{
    display: none;
}

.animation {
    opacity: 1;
}

img{
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 768px) {
    .wrapper {
        padding: 5px;
    }

    .storyboard {
        height: 95%;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        grid-gap: 5px;
        border: 2px solid black;
        padding: 5px;
    }
    
    .box {
        position: relative;
        height: auto;
    }
    .firstBox {
        grid-column: 1;
    }
    
    .secondBox {
        grid-column: 2/4;
    }
    
    .thirdBox {
        grid-column: 4;
        grid-row: 1/3;
    }
    
    .fourthBox {
        grid-column: 1;
        grid-row: 2/4;
    }
    
    .fifthBox {
        grid-column: 2 / 4;
        grid-row: 2/4;
    }

    .button-div {
        display: block;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    button {
        display: block;
        /* opacity: 0; */
        margin-top: 10px;
        font-size: 16px;
        padding: 5px 20px;
        font-weight: bold;
        color: white;
        background-color: green;
        border-radius: 20px;
        border: none;
        text-align: center;
        cursor: pointer;
        transition: opacity 2s ease-in 12s;
    }

    button:hover {
        color: green;
        background-color: white;
        border: 1px solid green;
    }

    /* .right-btn {
        display: none;
    } */
}